{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Volume'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Volume'|trans }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'Id'|trans }}</dt>
            <dd>{{ book.Id }}</dd>
            <dt>{{ 'Title'|trans }}</dt>
            <dd>{{ book.Title }}</dd>
            <dt>{{ 'Author'|trans }}</dt>
            <dd>{{ book.Author }}</dd>
            <dt>{{ 'Catalog'|trans }}</dt>
            <dd>{{  book.Catalog.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'back to list'|trans }}">
                {{ 'back'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('comment_show', {id: book.id}) }}" title="{{ 'comments'|trans }}">
                {{ 'comments'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'Empty'|trans }}
        </p>
    {% endif %}
{% endblock %}