{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Catalogs'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Catalogs'|trans }}</h1>
    {% if pagination is defined %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'catalog.Id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'name'|trans, 'catalog.Name') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for catalog in pagination.items %}
                <tr>
                    <td>{{ catalog.Id }}</td>
                    <td>{{ catalog.Name }}</td>
                    <td>
                        <a href="{{ url('catalog_show', {id: catalog.Id }) }}" title="{{ 'See'|trans }}">
                            {{ 'Show'|trans }}
                        </a>
                        <a href="{{ url('catalog_edit', {id: catalog.Id }) }}" title="{{ 'Edit'|trans }}">
                            {{ 'Edit'|trans }}
                        </a>
                        <a href="{{ url('catalog_delete', {id: catalog.Id }) }}" title="{{ 'Delete'|trans }}">
                            {{ 'Delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <p>
            <a href="{{ url('catalog_create') }}" title="{{ 'Create'|trans }}">
                {{ 'Create'|trans }}
            </a>
        </p>

        <p>
            <a href="{{ url('book_index') }}" title="{{ 'Books'|trans }}">
                {{ 'Books'|trans}}
            </a>
        </p>

        <p>
            <a href="{{ url('comment_index') }}" title="{{ 'Comments'|trans }}">
                {{ 'Comments'|trans }}
            </a>
        </p>

    {% else %}
        <p>
            {{ 'Empty'|trans }}
        </p>
    {% endif %}
{% endblock %}